/* Main container */


/* HEADER */

.header{
  display: flex;
  justify-content: space-between;
}

.headerLogo{
  width: 50px;
  height: 50px;
  background-color: aqua;
}

.headerTitle{
  margin-top: 10%;
}

/* Section blog */
.blogSection{
  margin: 15% 5% 10% 5%;
}

.blogTitle{
  font-size: 20px;
  padding-bottom: 3%;
}

.blogBottomLine{
  width: 200px;
  margin-top: 10px;
  border-bottom: 1px solid black;
}

.blogTextDesc{
  margin-top: 10px;
}

/*Section article */

%articleBlogBox1{
  height: 250px;
  background-color: pink;
}
.articleBlogBox2{
  @extend %articleBlogBox1;
}
.articleBlogBox3{
  @extend %articleBlogBox1;
}
.articleBlogBox4{
  @extend %articleBlogBox1;
}
